name: Deploy test-app

on:
  push:
    branches:
      - "main"

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v4
      - uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # ratchet:actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - run: npm install --no-save --no-audit --prefer-offline --ignore-scripts
      - run: npm test

  build:
    name: Build and Publish Docker image
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v4
      - uses: nais/docker-build-push@v0 # ratchet:exclude
        id: docker-build-push
        with:
          team: oasis-maintainers
          tag: ${{ github.sha }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}

    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}

  deploy-azure:
    name: Deploy with Azure AD
    needs: [test, build]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2 # ratchet:exclude
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/nais-azure.yaml
          PRINT_PAYLOAD: true
          VAR: image=${{ needs.build.outputs.image }}

  deploy-idporten:
    name: Deploy with IDporten
    needs: [test, build]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2 # ratchet:exclude
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/nais-idporten.yaml
          PRINT_PAYLOAD: true
          VAR: image=${{ needs.build.outputs.image }}
