name: Test PRs

on:
  pull_request:
    branches-ignore:
      - "dependabot/**"

permissions:
  contents: read

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: yarn

      - run: yarn --immutable
      - run: yarn lint:ci
      - run: yarn workspace @navikt/texas build
      - run: yarn test
      - run: yarn build:lib
