name: Release

on:
  release:
    types: [created]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      packages: "write"
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v4
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # ratchet:actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://npm.pkg.github.com
          cache: npm

      - run: npm ci
      - run: npm test
      - run: npm run build-lib

      - run: |
          npm version -w oasis --allow-same-version --no-git-tag-version ${{ github.event.release.tag_name }}
          npm publish -w oasis
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
